* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header, main, footer {
    overflow: hidden;
}

#name-button {
    background-color: lightgray;
}

a {
    text-decoration: none;
}